
 /* TOP LEVEL MENU CONTROL */


a.menu_TOP{
display:block;
line-height: 14pt;
text-align: center;
text-decoration:none;
border-right: #91B3C1 1px solid;
}



 /* SUB LEVEL MENU CONTROL */


a.menu_SUB{
display:block;
padding: 2px 2px 2px 4px;
text-decoration:none;
border-bottom: #61828F 1px solid;
}


 /* MORE SUB LEVEL MENU CONTROL */


.menu_DIV{
border-top: #61828F 1px solid;
border-bottom: #61828F 0px solid;
border-right: #61828F 1px solid;
border-left: #61828F 1px solid;
z-index:100;
}