

.boxText {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
  }


.errorBox {
    font-family :Tahoma, Verdana, Arial, sans-serif;
    font-size : 10px;
    background: #ffb3b5;
    font-weight: bold;
  }


.stockWarning {
    font-family :Tahoma, Verdana, Arial, sans-serif;
    font-size : 10px;
    color: #cc0033;
  }


.productsNotifications {
    background: #f2fff7;
  }


.orderEdit {
    font-family :Tahoma, Verdana, Arial, sans-serif;
    font-size : 10px;
    color: #70d250;
    text-decoration: underline;
  }


BODY {
    background: #ffffff;
    margin: 0px;
    font:11px Tahoma;
    color: #6e6e6e;
  }


A {
    font-family: Tahoma,Verdana;
    font-size: 11px;
    color: #5CA0C7;
  }


A:visited {
    color: #5CA0C7;
  }


A:hover {
    color: #5CA0C7;
  }


A:active {
    color: #5CA0C7;
  }


FORM {
    display: inline;
    margin:0px;
  }


TD.logo {
    background-image : url('/images/theme/logo.jpg');
    background-repeat : no-repeat;
    height : 114;
    width : 142;
  }


TR.header {
    background: #ffffff;
  }


TR.headerNavigation {
    background-color : #bbc3d3;
  }


TD.headerNavigation {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight : bold;
  }


A.headerNavigation {
    color: #FFFFFF;
  }


A.headerNavigation:hover {
    color: #ffffff;
  }


TR.headerError {
    background: #ff0000;
  }


TD.headerError {
    font-family: Tahoma,Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    background: #ff0000;
    color: #ffffff;
    font-weight : bold;
    text-align : center;
  }


TR.headerInfo {
    background: #00ff00;
  }


TD.headerInfo {
    font-family: Tahoma,Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    background: #00ff00;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }



TD.navigationHeaderLeft {
	 background-image : url('/images/theme/navigationHeader.gif');
	 height:32px;
	 padding-left:15px;
}

TD.navigationHeader{
	 background-image : url('/images/theme/navigationHeader.gif');
	 height:32px;

}


TD.navigationHeaderRight{
	 background-image : url('/images/theme/navigationHeader.gif');
	 height:32px;
	 padding-right:15px;
}


TR.footer {
    background: #bbc3d3;
  }


TD.footer {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight: bold;
  }

/* Info Boxes */

.infoBox {
    background: #ffffff;
  }


.infoBoxContents {
    background: #ffffff;
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    border:1px solid #D5D5D5;
  }


.infoBoxNotice {
    background: #FF8E90;
  }


.infoBoxNoticeContents {
    background: #FFE6E6;
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
  }


TD.infoBoxHeading {
    background-image : url('/images/theme/infoBoxHeading.gif');
    color : #FFFFFF;
    font-family : Myriad, Tahoma, Verdana, Arial, sans-serif;
    font-size : 14px;
    font-weight : bold;
    height : 30px;
    padding-left:5px;
  }


TD.infoBoxLeft {
    background-image : url('/images/theme/infoBoxLeft.gif');
    height: 30px;
    width:12px;
  }


TD.infoBoxRight {
    background-image : url('/images/theme/infoBoxRight.gif');
    height : 30px;
    width:12px;
  }


TD.infoBox, SPAN.infoBox {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
  }


TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd, TR.odd {
    background: #f8f8f9;
  }


TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even, TR.even {
    background: #f8f8f9;
  }


TABLE.productListing {
    border-style: collapse;
    border: 1px solid #1c679f;
  }


.productListing-heading {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    background: #6699FF; 
    color: #FFFFFF;
    font-weight: bold;
  }


TR.productListing-data-row1 {
  }


TR.productListing-data-row2 {
  }


TD.productListing-data {
    font-family : Tahoma, Verdana, Arial, sans-serif;
    font-size : 10px;
	border-collapse: collapse;
	margin: 1px; 
	border: 1px solid #1c679f;
	background: #F0F8FF;
  }


A.pageResults {
    color: #0000FF;
  }


A.pageResults:hover {
    color: #0000FF;
    background: #FFFF33;
  }


TD.pageHeading, DIV.pageHeading {
    color: #5CA0C7;
    font-family: Myriad, Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }


TR.subBar {
    background: #f4f7fd;
  }


TD.subBar {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
  }


TD.main, P.main {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
  }


TD.smallText, SPAN.smallText, P.smallText {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
  }


TD.accountCategory {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 13px;
    color: #aabbdd;
  }


TD.fieldKey {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }


TD.fieldValue {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
  }


TD.tableHeading {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }


SPAN.newItemInCart {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #ff0000;
  }


CHECKBOX, INPUT, RADIO, SELECT {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
  }


TEXTAREA {
    width: 100%;
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
  }


SPAN.greetUser {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #f0a480;
    font-weight: bold;
  }


TABLE.formArea {
    background: #f1f9fe;
    border-color: #7b9ebd;
    border-style: solid;
    border-width: 1px;
  }


TD.formAreaTitle {
    font-family: Tahoma,Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }


SPAN.markProductOutOfStock {
    font-family: Tahoma,Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #c76170;
    font-weight: bold;
  }


SPAN.productSpecialPrice {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    color: #ff0000;
  }


SPAN.errorText {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #ff0000;
  }


TD.errorText {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #ff0000;
  }


.moduleRow {
  }


.moduleRowOver {
    background-color: #D7E9F7;
    cursor: pointer;
    cursor: hand;
  }


.moduleRowSelected {
    background-color: #E9F4FC;
  }


.checkoutBarFrom, .checkoutBarTo {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #8c8c8c;
  }


.checkoutBarCurrent {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
  }

/* message box */



.messageBox {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
  }


.messageStackError, .messageStackWarning {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    background-color: #ffb3b5;
  }


.messageStackSuccess {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    background-color: #99ff00;
  }

/* input requirement */







.inputRequirement {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #ff0000;
  }


.productTitle {
    color: #5CA0C7;
    font-family: Myriad, Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }


.productPrice {
    color: #848484;
    font-family: Myriad, Tahoma, Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
  }


.productDesc {
    color: #848484;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 9px;
  }


A.productTitle {
    color: #5CA0C7;
    font-family: Myriad, Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }


A.productTitle:hover {
    color: #5CA0C7;
    font-family: Myriad, Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
  }


A.category {
    font-family: Tahoma,Verdana;
    font-size: 11px;
    color: #5CA0C7;
  }


A.category:hover {
    font-family: Tahoma,Verdana;
    font-size: 11px;
    color: #5CA0C7;
  }

