

body {
    background: white;
    font-size: 8pt;
    font-family:Tahoma, Verdana, Arial, sans-serif;
  }


.header {
    font-size: 9pt;
    font-weight: bold;
    font-family:Tahoma, Verdana, Arial, sans-serif;
  }


.medium {
    font-size: 8pt;
    font-weight: normal;
    font-family:Tahoma, Verdana, Arial, sans-serif;
  }


.small {
    font-size: 7pt;
    font-weight: normal;
    font-family:Tahoma, Verdana, Arial, sans-serif;
  }


.powerdBy {
    font-size: 8pt;
    font-weight: bold;
    font-family : Myriad, Tahoma, Verdana, Arial, sans-serif;
    color: #6699FF;
  }


.table {
    border:1px solid black;
  }


.td {
    border-bottom-color : black;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-collapse : separate;
    border-left-color : black;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : black;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : black;
    border-top-style : solid;
    border-top-width : 1px;
  }


hr {
    color : #000000;
    line-height : 1px;
  }


#wrapper, #content {
    width: auto;
    margin: 0 5%;
    padding: 0;
    border: 0;
    float: none !important;
    color: black;
    background: transparent none;
  }


div#content {
    margin-left: 10%;
    padding-top: 1em;
    border-top: 1px solid #930;
  }


a:link, a:visited {
    color: #520;
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
  }


#content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }


#content a[href^="/"]:after {
    content: " (http://www.alistapart.com" attr(href) ") ";
  }

